body {
    background-color: #131212;
    color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} 
.loading {
    background-color: #131212;
    color: #fff;
}
.taskbar {
    background-color: #1d1d1d;
    color: #fff;
}
.taskbar-items {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.taskbar-icon {
    cursor: pointer;
    margin-left: 1rem;
    width: 1.6rem;
    height: 1.6rem;
    float: left;
    image-rendering: -moz-crisp-edges; 
    image-rendering: -o-crisp-edges; 
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}
.container #bgv {
    display: flex;
    justify-content: center;
}
.taskbar-right {
    float: right;
    /* justify-self: flex-end;
    position: absolute;
    right: 0; */
}
.taskbar-right-items {
    padding-right: 1.2rem;
}
.taskbar-right-item {
    margin-left: .7rem;
    float: right;
}

/* Keyframes */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opactiy: 1; }
}